*{
	margin: 0;
	padding: 0;
}

body{
	color: #fcfcfc;
	font: 14px 'Segoe UI', Arial, sans-serif;
	background: #ccc;
}

a{
	text-decoration: none;
	outline: none;
	color: #54a6de;
}

.container{
	width: 70%;
	margin: 10px auto;
}

#navbar{
	display: block;
	height: 40px;
	background: #13181d;
}

#navbar a{
	color: #fff;
	display: inline-block;
	height: 40px;
	line-height: 37px;
	padding: 0 15px;
}

#navbar a.active, #navbar a:hover{
	background: #333;
}

#main{
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	min-height: 500px;
}

#main li{
	float: left;
	height: 100px;
	list-style: none;
	margin: 6px;
	position: relative;
	width: 100px;
}

#main ul{
	overflow: hidden;
}

#main ul.hidden{
	display: none;
}

footer{
	text-align: center;
	color: #333;
}